.form-text{
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}
.login{
    color: #3D3D3D;
}
.register{
    color: #46A358;
}
.text-form{
    font-size: 13px;
    color:#3D3D3D;
    text-align: center;}
form button{
    background-color: #46A358;
    color:#FFFFFF;
    width: 300px;
    height: 45px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #46A358;
    margin-top: 41px;
    margin-bottom: 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.input-text{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    font-size: 14px;
    color: #A5A5A5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}
.link-reg{
text-decoration: none;
font-size: 13px;
color: #727272;
}
.conteiner{
border: 1px solid #EAEAEA;
width: 300px;
height: 40px;
border-radius: 5px;
display: block;
margin-left: auto;
margin-right: auto;
}
.google{
    margin-top: 27px;
    text-align: center;
    align-content: center;
 }
.facebook{
    margin-top: 15px;
    text-align: center;
    align-content: center;
}
.title{
    text-align: center;    
}
.text-reg{
    text-align: center;
}